.search-categories {

  &--category {
    padding: 10px;
    border-right: 1px solid grey;
    border-radius: 4px 0 0 4px;


    &--selected {
      border: 1px solid grey;
      border-right: 0;
    }
  }
}


.search-form {
  &--date-input {
    display: inline-block;
  }


  &--form-buttons {
    margin-top: 20px;
  }
}


.previous-searches {
  &--search-item {
    margin-top: 20px;
  }
}