<div class="search-form">
    <form name="form">
        <h4 class="text-muted">Flights</h4>
        <ta-dates-interval-input start-date="flights.startDate" end-date="flights.endDate"></ta-dates-interval-input>
        <label>From</label>
        <input ng-model="flights.from" type="text" class="form-control" required>
        <label>To</label>
        <input ng-model="flights.to" type="text" class="form-control" required>
        <ta-form-buttons on-submit-button-click="flights.submit()"
                         can-submit="form.$valid"
                         on-cancel-button-click="flights.cancel()">
        </ta-form-buttons>
    </form>
</div>