<div class="search-form">
    <form>
        <h4 class="text-muted">Flights</h4>
        <tu-dates-interval-input start-date="flights.startDate" end-date="flights.endDate"></tu-dates-interval-input>
        <label>From</label>
        <br>
        <input type="text" ng-model="flights.from">
        <br>
        <label>To</label>
        <br>
        <input type="text" ng-model="flights.to">
        <tu-form-buttons on-submit-button-click="flights.submit()"
                         on-cancel-button-click="flights.cancel()">
        </tu-form-buttons>
    </form>
</div>