<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="col-sm-offset-2">
        <h2 class="text-muted">Travel app</h2>
    </div>
    <hr>
    <div class="clearfix">
        <ul class="search-categories col-sm-3 list-group">
            <li ng-repeat="item in travelApp.searchCategories"
                 ng-click="travelApp.onSearchCategoryClick(item)"
                 ng-class="{ 'active': travelApp.isCategorySelected(item) }"
                 class="search-categories--category list-group-item">
                <span class="glyphicon {{item.glyphIcon}}"></span> {{item.title}}
            </li>
        </ul>
        <div ui-view class="search-params col-sm-9"></div>
    </div>
    <div class="previous-searches">
        <hr>
        <h4 class="text-muted">Previous searches</h4>
        <div ng-repeat="item in travelApp.previousSearchItems" class="previous-searches--search-item">
            <span ng-include="travelApp.getPreviousSearchTemplate(item)"></span>
            <span ng-click="travelApp.onRemoveSearchItemClick(item)"
                  class="btn btn-xs close">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
    </div>
</div>