<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="col-sm-offset-2">
        <h2 class="text-muted">Travel app</h2>
    </div>
    <hr>
    <div class="clearfix">
        <div class="search-categories col-sm-4 col-sm-offset-1">
            <div ng-repeat="item in travelApp.searchCategories"
                 ng-click="travelApp.onSearchCategoryClick(item)"
                 ng-class="{ 'search-categories--category--selected': travelApp.isCategorySelected(item) }"
                 class="search-categories--category">
                <span class="glyphicon {{item.glyphIcon}}"></span> {{item.title}}
            </div>
        </div>
        <div ui-view class="search-params col-sm-5 col-sm-offset-1"></div>
    </div>
    <div class="previous-searches">
        <hr>
        <h4 class="text-muted">Previous searches</h4>
        <div ng-repeat="item in travelApp.previousSearchItems" class="previous-searches--search-item">
            <span ng-include="travelApp.getPreviousSearchTemplate(item)"></span>
            <span ng-click="travelApp.onRemoveSearchItemClick(item)"
                  class="btn btn-xs close">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
    </div>
</div>