<div class="search-form">
    <form name="form">
        <div class="form-group">
            <h4 class="text-muted">Cars</h4>
            <ta-dates-interval-input start-date="cars.startDate" end-date="cars.endDate"></ta-dates-interval-input>
            <label>Type</label>
            <select ng-model="cars.selectedType" class="form-control">
                <option ng-repeat="item in cars.types" ng-value="item.title">{{item.title}}</option>
            </select>
            <label>Location</label>
            <input ng-model="cars.location" type="text" class="form-control" required>
            <ta-form-buttons on-submit-button-click="cars.submit()"
                             can-submit="form.$valid"
                             on-cancel-button-click="cars.cancel()">
            </ta-form-buttons>
        </div>
    </form>
</div>