<div class="input-group">
    <input ng-model="datePicker.dateValue"
           uib-datepicker-popup
           is-open="datePicker.isDatePickerOpen"
           ng-click="datePicker.toggleDatePicker()"
           type="text"
           class="form-control"
           required>
    <span class="input-group-btn">
        <button ng-click="datePicker.toggleDatePicker()"
                type="button"
                class="btn btn-default">
            <span class="glyphicon glyphicon-calendar"></span>
        </button>
    </span>
</div>