.search-categories {
  &--category {
    padding: 10px;
    cursor: pointer;
  }
}


.search-form {
  &--date-input {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }


  &--form-buttons {
    margin-top: 20px;
  }
}

.error-message-container {
  position: relative;
  height: 0;

  &--message {
    position: absolute;
    color: red;
  }
}


.previous-searches {
  &--search-item {
    margin-top: 20px;
  }
}